@tailwind base;
@tailwind components;
@tailwind utilities;

@import "swiper/css";
@import "swiper/css/navigation";

.btn {
  @apply px-4 py-2 active:scale-95 inline-flex items-center justify-center rounded-md text-sm font-medium transition-colors focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 disabled:opacity-50 dark:focus:ring-slate-400 disabled:pointer-events-none dark:focus:ring-offset-slate-900;
}

.nav-btn {
  @apply flex items-center text-zinc-50 justify-center px-3 py-2 rounded-lg bg-zinc-900 shadow-md hover:text-zinc-900 hover:bg-zinc-300 dark:bg-zinc-100 dark:text-zinc-900 dark:hover:bg-zinc-300  hover:cursor-pointer;
}

.section-1 {
  @apply bg-gradient-to-b from-zinc-300 dark:bg-zinc-900 dark:from-zinc-900 pt-20 px-2 border-b border-zinc-300 dark:border-zinc-800;
}

.section-2 {
  @apply bg-gradient-to-t from-zinc-300 dark:bg-zinc-900 dark:from-zinc-900 pt-20 px-2 border-b border-zinc-400 dark:border-zinc-800;
}

.section-heading {
  @apply text-5xl font-extrabold mx-auto border-b mb-10 border-zinc-800 w-fit dark:border-zinc-50 lg:mb-20;
}

.icon {
  @apply h-10 text-zinc-50 p-2 border-2 border-zinc-50 rounded-full hover:cursor-pointer;
}

html {
  scroll-behavior: smooth;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.glow {
  box-shadow: inset 0 0 50px #fff, /* inner white */ inset 20px 0 80px #f0f,
    /* inner left magenta short */ inset -20px 0 80px #0ff,
    /* inner right cyan short */ inset 20px 0 300px #f0f,
    /* inner left magenta broad */ inset -20px 0 300px #0ff,
    /* inner right cyan broad */ 0 0 50px #fff,
    /* outer white */ -10px 0 80px #f0f,
    /* outer left magenta */ 10px 0 80px #0ff; /* outer right cyan */
}

.bg-image {
  background-image: url("../../public/images/coding.jpg");
  background-size: 100%;
  animation: pan-image 15s linear infinite;
}

@keyframes pan-image {
  0% {
    background-position: 36% 42%;
    background-size: 200%;
  }

  20% {
    background-position: 30% 35%;
    background-size: 200%;
  }

  20.0001% {
    /* -- View 2 -- */
    background-position: 60% 85%;
    background-size: 500%;
  }

  40% {
    background-position: 49% 81%;
    background-size: 500%;
  }

  40.0001% {
    /* -- View 3 -- */
    background-position: 80% 42%;
    background-size: 300%;
  }

  60% {
    background-position: 84% 33%;
    background-size: 300%;
  }

  60.0001% {
    /* -- View 4 -- */
    background-position: 0% 0%;
    background-size: 300%;
  }

  80% {
    background-position: 15% 4%;
    background-size: 300%;
  }

  80.0001% {
    /* -- View 5 -- */
    background-position: 80% 10%;
    background-size: 300%;
  }

  100% {
    background-position: 72% 14%;
    background-size: 300%;
  }
}
